.main {
    width: 100%;
    font-family: "Roboto", sans-serif;
    line-height: 30px;
}
.about h1 {
    margin-bottom: 0.5em;
    font-size: 1.5em;
    font-weight: bold;
}
.about h2 {
    margin-bottom: 0.5em;
}
.about {
    width: 70%;
    margin: 3em auto;
}